html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img { border:none; }
img{vertical-align: middle}
ul, ol { list-style:none; }
body { color:#666; font:12px/20px "SimSun","微软雅黑","Arial Narrow",HELVETICA; background:#fff;}
em{font-style:normal}
a { color:#333; text-decoration:none; }
div,form,ul,ol,li,span,p{margin:0;padding:0;border:0;}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
    font-size: 14px;
    margin:0;padding:0;
}


/*以上是重置样式*/
.all_cat{
	background: #fff;
}
.sunglass i{
	background: url(../images/user_header.png) no-repeat -427px -208px;
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}
.product-view{
	padding-left: 400px;
    z-index: 1;
    min-height: 510px;
    position: relative;
    height: auto !important;
}
.product-view .goods-info{
	float: left;
    width: 560px;
    padding: 0px 12px 0px 25px;
}
#j-price{
	background: #F5F5F5;
    margin: 10px 0px;
    padding: 6px 15px;
    z-index: 2;
    position: relative;
}
#j-price .price{
	display: inline-block;
    width: 75px;
}
#j-price .price-t{
	display: inline-block;
    width: 60px;
    text-align: center;
    background: #FE596A;
    height: 20px;
    line-height: 20px;
    margin-left: 50px;
}
#j-price .show-price{
	height:35px;
	line-height: 35px;
}
#j-price .market-price{
	float:left;
}
#j-price .market-price{
	line-height: 35px;
}
#j-price .market-price span{
	font-weight: normal;
    text-decoration: line-through;
    margin-left: 10px;
    margin-right: 50px;
}
#j-price .ran-price{
	display: inline-block;
    height: 20px;
    line-height: 20px;
    float: left;
    margin-top: 5px;
    z-index: 100;
	position: relative;
}
#j-price .ran-price .hove{
	border:1px solid #ccc;
	padding:3px;
	display: none;
}
#shangpin-num{
	padding:5px 0;
}
#shangpin-num p{
	float:left;
	width:30%;
}
#shangpin-pj{
	margin: 10px 0px;
    height: 45px;
    display: block;
}
#shangpin-pj ul{
	height: 25px;
    display: block;
    border-top: 1px #e5dfda dotted;
    border-bottom: 1px #e5dfda dotted;
    padding: 10px 0px;
}
#shangpin-pj ul li{
	width: 33%;
    height: 25px;
    text-align: center;
    display: block;
    float: left;
    border-right: 1px #e5dfda solid;
}
#shangpin-pj ul span{
	color:#F52648;

}
#choose{
	padding-bottom: 10px;
	line-height: 28px;
}
#choose li{
	padding:5px 0;
    overflow: hidden;
    margin-left: 5px;
}
#pickup_point_wrap{
	position: relative;
    text-align: left;
    }
#choose .dt{
    float: left;
    width: 55px;
    color: #999;
    }
#choose .dd{
	overflow: hidden;
    width: 490px;
}    
#pickup_point{
	margin: 0;
    padding: 5px 0;
    border: 1px solid #ccc;
    cursor: pointer;
    width: 80px;
    text-align: center;
    background-color: #fff;
    z-index: 3;
    position: relative;
    float: left;
}
#area_label{
	float: left;
    border: 1px solid #ccc;
    border-left: none;
    padding: 5px 20px 5px 5px;
    position: relative;
    margin-left: 0px;
    z-index: 4;
}
#choose .wrap-input{
	width:200px;
	padding-right:18px;
}
#choose .wrap-input a{
   	width: 13px;
    line-height: 13px;
    height: 13px;
    float: left;
    margin-top: 3px;
    text-align: center;
    border:1px solid #ccc;
    margin:3px 2px;
}
#choose .text{
	border: #ccc 1px solid;
	padding:2px;
    height: 16px;
    text-align: center;
    float: left;
    width:30px;
}
#to-buy{
	height: 40px;
    padding-left: 3px;
}
#to-buy .choose-btn{
	float: left;
    height: 48px;
}
#to-buy .tobuy1{
	display: block;
    width: 135px;
    height: 36px;
    font-family: "微软雅黑";
    line-height: 36px;
    font-size: 16px;
    color: #fff;
    float: left;
    cursor: pointer;
    background: #FF6500;
    margin-right: 15px;
    color: #fff;
    text-align: center;
}
#to-buy .tobuy2{
	display: block;
    width: 135px;
    height: 36px;
    font-family: "微软雅黑";
    line-height: 36px;
    font-size: 16px;
    float: left;
    margin-right: 15px;
    cursor: pointer;
    background: none repeat scroll 0% 0% #E31939;
    color: #FFF;
    text-align: center;
}
#to-buy .tobuy3{
	width: auto;
    line-height: 34px;
    HEIGHT: 34px;
    font-size: 14px;
    border: 1px solid #C8C9CD;
    padding-left: 30px;
    padding-right: 10px;
    display: block;
    float: left;
    text-decoration: none;
    background:url(../images/goods_act.png) no-repeat -75px 4px;
    
}
#to-buy .phone-buy{
	width: auto;
    line-height: 34px;
    HEIGHT: 34px;
    font-size: 14px;
    border: 1px solid #C8C9CD;
    padding-left: 30px;
    padding-right: 10px;
    background:url(../images/goods_act.png) no-repeat -75px -56px;
    display: block;
    float: left;
    margin-left: 15px;
    position: relative;
}
#to-buy .phone-btn{
	position: absolute;
    top: -120px;
    left: 10px;
    z-index: 3
}
#to-buy .phone-btn div{
	background: none repeat scroll 0 0 #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
    height: 100px;
    left: -12px;
    overflow: hidden;
    padding: 5px;
    position: absolute;
    top: 0;
    width: 100px;
}
.preview{
	position: absolute;
	top:0;
	width:400px;
	left:0;
}
.preview .preview-box{
	padding: 10px;
    width: 380px;
    border: 1px solid #DDD;
}
.preview .fdjImg{
	position: relative;
    display: inline-block;
    outline: 0px;
    width: 378px;
}
.preview .fdj-large{
	width:580px;
	height:376px;
	overflow: hidden;
	position: absolute;
	left:400px;
	top:15px;
	z-index: 80;
	display:none;
}
.preview .fdj-large img{
	position: absolute;
	left: 0;
	top:0;
}
.preview .fdj{
	z-index: 100;
    position: absolute;
    overflow: hidden;
    display: none;
    width: 272px;
    height: 175px;
    opacity: 0.3;
    filter: alpha(opacity:30);
    left:0;
    top: 0;
    background:#000;
    cursor: move;
}
.preview .lf{
	width: 16px;
    height: 50px;
    background: url(../images/btn_per.gif) no-repeat left center;
    float: left;
    cursor: pointer;
}
.preview .ri{
    width: 16px;
    height: 50px;
    background: url(../images/btn_next.gif) no-repeat right center;
    float: right;
    cursor: pointer;
}
.preview .gallery{
	width: 352px;
    float: left;
    margin-left: 8px;
    overflow: hidden;
    position: relative;
}
.preview .gallery img{
	width: 50px;
    height: 50px;
    display: block;
    border: 1px #ccc solid;
}
#short{
	position: relative;
    padding: 15px 10px 10px 0px;
}
#shot .view{
	 background: -1px -287px;
    padding-left: 15px;
    overflow: hidden;
    width: 74px;
    height: 25px;
    line-height: 25px;
}
.f1{
	float:left
}
#short .compare-btn{
	float: left;
    height: 21px;
    margin-left: 35px;
    overflow: hidden;
    width: 58px;
    background:url(../images/common.png) no-repeat 0px -75px;
}
.sup{
	position: absolute;
    right: 0px;
    top: 0px;
    width: 210px;
    background: #F9F9F9;
    overflow: hidden;
}
.sup-content{
	float: right;
    width: 190px;
    min-height: 510px;
    border: 1px solid #DDD;
    padding: 0px 10px 5px;
}
.sup-content dl{
	margin-right: 5px;
    overflow: hidden;
    padding-top: 10px;
}
#ghs_shop .shop_title{
	font-size: 13px;
    font-weight: 500;
    color: #666;
    text-align: center;
    width: 100%;
}
.hot-l{
	padding:3px 0 2px 10px;
 
}
.hot-l .hot_grey {
    display: inline-block;
    width: 124px;
    height: 22px;
    background: url(../images/grey_line.jpg) no-repeat left 7px;
}
.hot-l .hot_red {
    display: inline-block;
    height: 22px;
    background: url(../images/red_line.png) no-repeat right 2px;
}

.sup dt,.sup dd{
	float:left;
}
.sup ul{
	overflow: hidden;
    padding: 5px 0;
    margin-right: 5px;
    border-top: 1px dotted #c6c6c6;
    border-bottom: 1px dotted #c6c6c6;
}
.sup ul li{
	width: 61px;
    float: left;
    text-align: center;
    border-left: 1px dotted #c6c6c6;
    margin-left:-1px;
}
.sup ul b{
	display: block;
	font-weight: 100;
}
.sup ul span{
	color:#fe596a;
}
.enter-shop{
	border-top: #ddd 0px solid;
    padding-top: 10px;
    margin-right: 5px;
}
.enter-shop a{
	display: block;
    color: #F52648;
    line-height: 31px;
    height: 31px;
    text-align: center;
    border: 1px solid #F52648;
    float: left;
    margin-left:3px;
    padding-left: 23px;
    width: 59px;
}


/*手机*/
.goods-better {
    width: 1210px;
    height: 260px;
    margin: 10px auto;
    overflow: hidden;
}
.goods-better .mt{
	height: 40px;
    line-height: 40px;
    position: relative;
}
.goods-better .better-list{
	    border:1px solid #ccc;
}
.mt h2{
	width: 150px;
    text-align: center;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    background: #fff;
    z-index: 2;
    border-top: 2px solid #E31939;
    border-left: 1px #ddd solid;
    border-right: 1px #ddd solid;
    color: #E31939;
}
#leftbtn,#rightbtn{
	float: left;
    width: 50px;
    height: 60px;
    display: block;
    padding-top: 90px;
}
.better-box{
    width: 1108px;
    height: 160px;
    padding: 25px 0px;
    float: left;
    display: inline-block;
    overflow: hidden;
    position: relative;

}
.better-box ul{
	height: 160px;
    overflow: hidden;
    position: relative;
    width: 1860px; 
    left: 0px;
}
.better-box ul li{
    width: 186px;
    height: 160px;
    display: inline-block;
    overflow: hidden;
    margin-left: 0px;
    position: relative;	
}
.p-img{
	padding:5px 0;
}
.rain-product-info{
    position: absolute;
    bottom: -25px;
    width: 160px;
    color: #fff;
    line-height: 22px;
    text-align: left;
    font-size: 12px;
    
    background:#000;
    background:rgba(0,0,0,.5);
    filter: alpha(opacity:50);
}
.p-price {
    padding-left: 10px;
    
}
.p-price strong{
	color:#fff;
	
}
.rain-product-info .rate {
    padding: 0px 10px;
    height: 25px;
    line-height: 25px;
	
}
.rain-product-info .rate a{
	color:#fff;
}
/*leftcontent*/
.leftcontent{
	width:210px;
	float:left;
}
.leftcontent .m2{
	margin-bottom: 10px;
}
.leftcontent .m2 h3{
    line-height: 35px;
    hieght: 35px;
    border: #ddd 1px solid;
    background:#eee;
}	
.leftcontent ul{
    overflow: hidden;
    padding: 4px 0 4px 15px;
    border: 1px solid #ddd;	
}
.leftcontent li{
    float: left;
    over: hidden;
    width: 90px;
    padding: 3px 6px 3px 0;
    height: 18px;
}
.leftcontent .m2-img{
	padding-bottom: 
    overflow: hidden;
    padding: 0 0 4px 15px;
    border: 1px solid #ddd;
    position: relative;
    	
}
.leftcontent .m2-img .img-box{
    width: 175px;
    height: 460px;
    float: left;
    overflow: hidden;
    position: relative;	
}
.leftcontent .m2-img ul{
	position: absolute;
	top:0;
}
.leftcontent .m2-img li{
    width: 155px;
    height: 150px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;	
}
.leftcontent li div{
	text-align: center;
}
.rightcontent{
	float:left;
	width:990px;
	margin-left:10px;
}
.rightcontent .right-wrap{
	margin-bottom: 10px;
}
.rightcontent .nav-holder{
    width: 989px;
    background: #ffffff;
    height: 35px;
    line-height: 35px;
    border-left: 1px solid #ddd;
    border-bottom: 2px #E31939 solid;	
    position:relative;
    z-index: 10;
    z-index: 100;
}
#tab{
	float:left;
}
#tab li{
    border-right: #ddd 1px solid;
    border-top: #ddd 1px solid;
    float:left;
    text-align: center;	
}
#tab li a{
	line-height: 34px;
	height:34px;
	padding:0 45px;
 	float:left;
}
#tab li:hover{
	background: #E31939;
    border-top: #E31939 1px solid;
	border-bottom: none;
}
#tab li:hover a{
	color:#fff;
}
#tab .active{
    background: #E31939;
    border: #E31939 1px solid;
	border-bottom: none;
}
#tab .active a{
	color:#fff;
}
.nav-holder .right-add{
    float: right;
    display: block;
    width: 161px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    background: #E31939;	
}
.hold-tofloor{
	width: 160px;
    position: absolute;
    right: 0;
    top: 37px;
    background: #F5F5F5;
    z-index: 800;
}
.hold-tofloor ul{
	width: 100px;
    display: inline-block;
    padding: 10px 30px;
}
.hold-tofloor li{
    height: 40px;
    line-height: 40px;
    position: relative;
    width: 78px;
    background-position: -108px -85px;
    cursor: pointer;
}	
.hold-tofloor a{
	position: absolute;
    left: 22px;
    display: block;
    width: 66px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
}
.hold-tofloor i{
    position: absolute;
    left: 0px;
    display: block;
    width: 19px;
    height: 40px;
    background:url(../images/goods_act.png) no-repeat -110px -83px;
}
.hold-tofloor i:hover{
	background:url(../images/goods_act.png) no-repeat -84px -83px;
}
.hold-tofloor .active i{
	background:url(../images/goods_act.png) no-repeat -84px -83px;
}
.right-wrap .mc{
    width: 820px;
}
.right-wrap .detail-list{
	border-right: #dedfde 1px solid;
    padding: 8px;
    overflow: hidden;
    border-left: #dedfde 1px solid;
    border-bottom: #dedfde 1px solid;
}
.right-wrap .detail-list li{
    float: left;
    padding-bottom: 4px;
    overflow: hidden;
    width: 33%;
    padding-top: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.img-wrapper{
	padding: 10px 0px;
    text-align: center;
    overflow:hidden;
}

.goods-redu{
    padding: 0px 0;
    margin-top: -1px;
    border: 1px #ddd solid;
    z-index: 4;	
}
.goods-redu ul{
    height: 100px;
    padding: 10px 0px;	
}
.goods-redu li{
	width: 190px;
    text-align: center;
    color: #999;	
}
.hpd div{
    color: #e4393c;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 0 0 0;
    line-height: 40px;	
    float:left;
    padding:0 10px
}
.hpd p{
	font-size: 12px;
	color: #000;
}
.pre{
	width: 190px;
    border-right: solid #e4e4e4 1px;
    margin-right: 15px;
    height: 80px;
    padding-top: 10px;	
     float:left;
}
.pre dl dt{
    float: left;
    line-height: 24px;
    width: 80px;	
}
.pre dl dd{
	float: left;
    height: 10px;
    width: 100px;
    margin-top: 7px;
    line-height: 10px;
    overflow: hidden;
    background: #efefef;	
}
.pre dl div{
	height: 10px;
    line-height: 10px;
    overflow: hidden;
    background: url(../images/my_comment_pre.gif) repeat-x left top;
    float: left;	
}
.all-pingjia{
    background: none repeat scroll 0 50% #f7f7f7;
    border: 1px solid #ddd;
    height: 35px;
    line-height: 35px;
    overflow: visible;
    margin-top:20px;
}
.all-pingjia li {
    float: left;
    cursor: pointer;
    height: 35px;
    line-height: 35px;
    padding: 0 45px;
    border-right: 1px solid #ddd;
}
.my-q{
    margin-top: 10px;
    z-index: 5;
    position: relative;
    margin-top:20px;
    top:0;	
}
.my-q .tab-title{
	text-align: left;
}
.my-q .tab-title span{
    height: 50px;
    line-height: 50px;
    width: 90px;
    font-size: 20px;
    padding-left: 10px;
    display: inline-block;
    border-bottom: 2px #E31939 solid;
    color: #E31939;	
}
.my-con{
    padding: 10px 15px;
    line-height: 2em;	
    margin-top: -1px;
    border: 1px #ddd solid;
    z-index: 4;
}
.baozhang_info {
    margin-top: 10px;
}
#state {
    margin-top: 10px;
    padding-top: 10px;
    BORDER-TOP: #dedede 1px dotted;
    OVERFLOW: hidden;
}
.question{
    padding: 0px 0;
    margin-top: -1px;
    border: 1px #ddd solid;
    z-index: 4;	
}
.question .list1{
    border-bottom: 1px dashed #e1e1e1;
    padding: 10px 20px;
}	
.question1 .Left{
    height: 14px;
    display: inline-block;
    margin-top: 8px;
    width: 18px;
    background:url(../images/goods_act.png) no-repeat -50px -60px;	
}
.question1 .common_right{
	line-height: 30px;	
	float: right;
    width: 750px;
    font-weight: 100;
}
.anwser .Left{
	height: 14px;
    display: inline-block;
    margin-top: 8px;
    width: 18px;
    background:url(../images/goods_act.png) no-repeat -50px -74px;	
}
.anwser .common_right{
	line-height: 1.8;	
	float: right;
    width: 750px;
}







