html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img { border:none; }
img{vertical-align: middle}
ul, ol { list-style:none; }
body { color:#333; font:12px/20px "SimSun","微软雅黑","Arial Narrow",HELVETICA; background:#fff;}
em{font-style:normal}
a { color:#666; text-decoration:none; }
div,form,ul,ol,li,span,p{margin:0;padding:0;border:0;}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
    font-size: 14px;
    margin:0;padding:0;
}
i,em,b,strong{
	font-style: normal;
	font-weight: 100;
}
/*以上是重置样式*/
.w{
	margin-bottom: 10px;
}

.close i{
	background: url(../images/user_header.png) no-repeat -427px -208px;
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}

#i-right{
    overflow: visible;
    position: relative;
    height: 156px;
    background: #F5F5F5;	
}
#i-right .hot-left{
    float: left;
    width: 950px;
    height: 137px;
    padding-top: 15px;
    position: relative;
    padding-left: 80px;
    margin-bottom: 15px;	
}
.hot-left .tj{
	width: 30px;
    height: 60px;
    position: absolute;
    left: 20px;
    top: 0;
    line-height: 18px;
    padding: 20px 10px 0 5px;
    font-size: 14px;
    text-align: center;
    font-family: "microsoft yahei";
    color: #f60;
    background:url(../images/common.png) no-repeat -75px -150px;	
}
.hot-left .tj-list{
    overflow: hidden;
    width: 920px;
    height: 124px;	
}
.tj-list dl{
    width: 264px;
    overflow: hidden;
    margin-right: 15px;
    background: #ffffff;
    padding: 10px;	
    float: left;
}
.tj-list dl dt{
	float: left;
    width: 100px;
    margin-right: 10px;
}
.tj-list dl dd{
    float: left;
    width: 146px;	
}
.tj-list .listname{
    height: 40px;
    line-height: 20px;	
}
.tj-list .listprice{
	margin-top: 5px;
	color:#999;
}
.tj-list .listprice span{
	font-size: 14px;
    color: #DD0000;
    font-weight: bold;
}
.tj-list .chakan{
    margin-top: 5px;	
}
.tj-list .chakan a{
    display: block;
    width: 72px;
    height: 25px;
    background: #E4393C;
    text-align: center;
    line-height: 25px;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;	
}
#i-right .hotright{
    float: right;
    width: 178px;
    height: 153px;	
    position: absolute;
    right: 0;
    top: 0;
    padding-left: 50px;
}
.hotright .cx{
	width: 30px;
    height: 60px;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 18px;
    padding: 20px 10px 0 5px;
    font-size: 14px;
    text-align: center;
    font-family: "microsoft yahei";
    color: #f60;
     background:url(../images/common.png) no-repeat -75px -150px;	
}
.hotright .cxlist{
   padding: 10px 10px 2px;	
}
.hotright li{
	height: 20px;
    line-height: 20px;
    overflow: hidden;	
}
.hotright li a{
	color: #666666;
}
.cxlist a:hover{
	color:#f60;
	text-decoration: underline;
}
.goods-choose{
	float: left;
    width: 1210px;
    text-align: left;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    position: relative;
}	
.goods-choose h4{
    float: left;
    width: 1208px;
    background: #f7f7f7;
    text-align: left;
    text-indent: 15px;
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    color: #333;
    font-weight: normal;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;	
}
.goods-choose h4 span{
	color: rgb(227, 25, 57);
	text-align: left;
    text-indent: 15px;	
}
.goods-choose dl{
    float: left;
    width: 1188px;
    padding: 10px 10px 5px 10px;
    margin: 0;
    overflow: hidden;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;	
}
.goods-choose dl dt{
    float: left;
    width: 70px;
    height: 16px;
    text-align: right;
    padding: 0px 5px 5px 0;
    color: #666;
    font-weight: bold;
    overflow: hidden;	
}
.goods-choose .duoxuan{
    float: right;
    text-align: left;
    text-indent: 10px;
    width: 110px;
    padding: 0;	
}
.duoxuan a{
	float: right;
    padding: 0;
    margin: 0;
    text-align: center;
    text-indent: 0;
    background: #f7f7f7;
    width: 50px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #ccc;
    text-decoration: none;
}	
.duoxuan span{
	font-size: 13px;
    font-weight: bold;
    padding-right: 3px;
}

.goods-choose dd{
    float: none;
    padding: 0px 10px 0 0;
    margin: 0;
    overflow: hidden;	
}
.goods-choose .choose-pp ul{
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-bottom: 5px;	
}
.choose-pp ul li{
	float: left;
    text-align: center;
    width: 75px;
    height: 34px;
    line-height: 34px;
    padding: 0;
    margin: 0;
    border: 1px solid #ddd;
    margin-right: 10px;
    margin-bottom: 5px;
}
.choose-pp li img{
	float: left;
    width: 75px;
    height: 34px;
}

.goods-choose ul{
    float: left;
    padding: 0;
    margin: 0;	
}
.goods-choose ul li{
    float: left;
    padding: 0 10px 5px 0;
    line-height: 18px;
    white-space: nowrap;	
}
.goods-choose li a{
	color:#666;
	font-size: 14px;
}
.goods-choose input{
    float: left;
    width: 50px;
    height: 18px;
    line-height: 18px;
    border: 1px solid #ddd;
    margin-right: 5px;
    color: #999999;
    padding: 0px 5px;	
}

.left0{
    float: left;
    width: 210px;	
    margin-top:30px;
}
.left0 .m{
    border: 1px solid #ddd	;
    margin-bottom: 30px;
}
.left0 .m-t{
    width: 208px;
    margin-top: -1px;
    background: #FFF;
	
}
.item{
	border-top: #eee 1px solid;
}
.item h2{
    height: 35px;
    line-height: 35px;
    background: #F9F9F9;
    padding: 0 7px 0 10px;
    border-bottom: #eee 1px solid;
    cursor: pointer;
    font-size: 14px;
    color: #555;	
}
.item span{
	float: left;
    width: 16px;
    height: 16px;
    margin: 10px 8px 0 0;
    overflow: hidden;
    cursor: pointer;
    line-height: 16px;
    background: url(../images/common.png) no-repeat 6px -246px;	
}
.item ul{
    overflow: hidden;
    display: none;
    padding: 6px 0;
    zoom: 1;
    padding-left: 30px;	
}
.item li{
    width: 71px;
    height: 18px;
    line-height: 18px;
    padding: 2px 0px 3px 0px;
    overflow: hidden;
    float: left;	
}
.item li a{
    padding: 3px 5px;	
}
.me{
 	height: 31px;
    padding-left: 8px;
    background: #FAFAFA;
    line-height: 31px;
    border-bottom: 1px solid #ddd;	
}
.me h2{
   
        font-size: 14px;	
}
.me-cont{
    padding-bottom: 6px;	
}
.me-cont .clock{
	text-align: center;
    padding: 5px 0;
}
.clock li{
	padding: 0px;
    text-align: center;
    margin: 0 10px;
}
.clock li .pImg{
    width: 189px;
    margin: 3px 0;
    position: relative;	
}
.pImg img{
	width:100px;
	height:100px;
}
.clock li .rate{
	height: 35px;
    overflow: hidden;
    text-align: left;
    margin: 2px 2px 0;
}
.rate a:hover{
	color:#f60;
	text-decoration: underline;
}
.clock li .newprice{
    text-align: left;
    margin: 2px 2px 0;	
}
.newprice strong{
    color: #e4393c;	
}
.newprice b{
    margin-left: 10px;
    text-decoration: line-through;	
}
.right-ex{
	float: right;
    width: 990px;
    margin-top:30px	
}
#filter{
    border: 1px solid #e7e3e7;
    background: #F7F7F7;
    box-shadow: 0 1px 1px rgba(0,0,0,.02);	
}
#filter .fore2{
	overflow: hidden;
    height: 26px;
    padding: 5px 15px;
    zoom: 1;
    background: #f1f1f1;
}
#filter dl{
	float: left;
    line-height: 26px;
    zoom: 1;
}
#filter dt{
	float: left;
    line-height: 26px;
    zoom: 1;	
}
#filter dd{
    height: 24px;
    border: 1px solid #CECBCE;
    background-color: #fff;
    margin-right: 5px;
    line-height: 24px;
    overflow: hidden;
    float:left;
    position: relative;	
}
#filter dd a{
    display: block;
    padding: 0 20px 0px 10px;
    text-decoration: none;	
    color: #666;

}
#filter b{
	position: absolute;
    top: 5px;
    left: 35px;
    width: 14px;
    height: 14px;
    overflow: hidden;
    display: inline-block;	
    background:url(../images/common.png) no-repeat -50px 0;

}
#filter .hot-tj{
    border: 1px solid #E4393C;
    background: #E4393C;	
}
#filter .hot-tj b{
	background:url(../images/common.png) no-repeat -75px -25px;	
}
#filter .hot-tj a{
	color:#fff;
}
.page{
	float:right;
	height: 22px;
    padding: 2px 0;
    border-left: 1px solid #fff;
}
.page .page-c{
	border: none;
    padding: 4px 11px;	
}
.page .prev,.page .next{
	padding-top: 3px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    font-size: 14px;
    padding:4px 8px;
    display: block;	
    background: #fff;
    margin-left:10px;
    font-size: 14px;
}
.page span{
	float: left;
}
#filter .total{
	float: right;
    height: 22px;
    padding: 2px 15px 2px 0;
    border-right: 1px solid #E7E3E7;
    line-height: 22px;
    color: #E4393C;	
}
#filter .fore3{
    border-top: 1px solid #e7e3e7;
    background: #f9f9f9;	
}
.fore3 a{
	padding: 0 10px 0px 10px;

	line-height: 24px;
	display: inline-block;

}
#filter .bg{
	background:#fff;	
	border: 1px solid #e7e3e7
}
/*列表*/
.list-pic{
    font-size: 0;
    display: block;
    width: 996px;
    margin-left: -3px;	
}
.li-item{
    font-size: 12px;
    vertical-align: middle;
    display: inline-block;
    width: 240px;
    height: 382px;
    margin: 22px 0 0 9px;	

}
.goods-content{
    line-height: 18px;
    background-color: #FFF;
    width: 230px;
    height: 382px;
    margin: 3px auto;
    border: solid 1px #F0F0F0;
    position: relative;
    z-index: 11;
    overflow: hidden;
    position: relative;	
    transition: all 0.2s linear;
}
 .goods-content:hover{
 	border: solid 1px #E4393C;
	-webkit-box-shadow:0 0 0 4px #E4393C;
}
.goods-content .title-pic{
    width: 51px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    right: 5px;
    top: 5px;
    color: #ffffff;
    font-size: 14px;
    font-style: italic;
    background:url(../images/common.png) no-repeat -75px -75px;	
}
.goods-pic{
    background: #FFF;
    width: 200px;
    height: 200px;
    padding: 13px 12px 0 14px;
    margin: 0;
    z-index: 1;
    top: 0;
    left: 0;	
}
.goods-pic a{
    line-height: 0;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    width: 200px;
    height: 200px;
    overflow: hidden;	
}
.goods-pic img{
    max-width: 200px;
    max-height: 200px;	
}
.goods-content .goodsinfo{
    width: 230px;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 220px;   
     margin: 5px auto 15px auto;	
}
.goodsinfo .goods-name{
    font-size: 12px;
    line-height: 16px;
    color: #999;
    background-color: #FFF;
    height: 34px;
    display: block;
    padding: 0 10px;
    overflow: hidden;	
}
.goods-content .goods-price{
    color: #E31939;
    background-color: #FFF;
    white-space: nowrap;
    display: block;
    height: 20px;
    padding: 5px 10px 10px;
    overflow: hidden;	
}
.goods-price .salePrice{
    font-size: 16px;
    font-weight: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 70px;
    float: left;
    overflow: hidden;	
}
.goods-price .markPrice{
    color: #999;
    text-decoration: line-through;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 50px;
    float: left;
    margin-left: 10px;
    overflow: hidden;
    font-weight: normal;	
}
.goods-content .sale-stat{
    width: 212px;
    margin: 0 auto;
    border-top: solid 1px #EEE;
    overflow: hidden;	
}
.sale-stat ul{
    width: 213px;
    margin-left: -1px;	
}
.sale-stat li{
    vertical-align: middle;
    letter-spacing: normal;
    word-spacing: normal;
    text-align: center;
    display: inline-block;
    width: 60px;
    height: 40px;
    padding: 5px;
    margin: 0;
    border-left: solid 1px #EEE;
    overflow: hidden;	
    float: left;
}
.goods-content .sale-stat li a{
	color: #3388BB;
	font-weight: 700;
}
.sale-stat li p{
    line-height: 20px;
    color: #999;
    height: 20px;	
}
.goods-content .store{
    line-height: 20px;
    background-color: #F5F5F5;
    text-align: center;
    display: block;
    height: 20px;
    clear: both;
    padding: 8px 0;
    border-top: solid 1px #EEE;	
}
.
.store a{
    display: inline-block;
}
.store .collet-btn{
    float: right;
    margin-right: 40px;
    height: 21px;
    overflow: hidden;
    width: 58px;
    background:url(../images/common.png) no-repeat 0px -200px;	
}
.store .compare-btn{
    float: left;
    height: 21px;
    margin-left: 35px;
    overflow: hidden;
    width: 58px;
    background:url(../images/common.png) no-repeat 0px -75px;	
}
.goods-content .addcart a{
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    color: #ffffff;
    background-color: #E4393C;
    text-align: center;
    display: block;
    height: 20px;
    padding: 5px 0;	
}
.goods-content:hover .addcart a{
	 -webkit-box-shadow: 0 0 0 5px #E4393C;
	 vtransition: all s linear;
}
.product-strack{
	border:1px solid #eaeaea;
	margin-bottom: 50px;
}
.next-page div{
	padding:30px 0;
}
.product-strack{
    overflow: hidden;
    margin-top: 10px;	
}
.product-right{
    float: right;
    width: 984px;
    border-left:1px solid #eaeaea;	
}
.product-left{
    float: left;
    width: 222px;
}
.mc{
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    height: 250px;
}
.mc .history-list{
    padding-right:0 8px;
    margin-top: -1px;
    overflow-y: auto;
    height: 250px;
}
.mc .history-list li{
    padding-bottom: 2px;
    overflow: hidden;
}
.mc .history-list li .pImg{
   	 FLOAT: left;
    overflow: hidden;
    iwdth: 50px;
    margin-right: 5px;
    height: 50px;
   }
.mc .history-list img{
	height:50px;
	width:50px;
} 
.mc .history-list .rate{
    margin-top: 5px;
    float: left;
    width: 130px;
    height: 3em;
    overflow: hidden;	
}
.mc .history-list .newprice{
FLOAT: left;
    WIDTH: 130px;	
}

.product-right .guess-control{
	display: block;
    background-image: url(../images/footprint-arr.png);
    overflow: hidden;
    width: 14px;
    background-repeat: no-repeat;
    position: absolute;
    top: 100px;
    height: 50px;
}
#guess-backward {
    background-position: -16px 0px;
    right: 10px;
    left: auto;
    z-index: 500;
}
#guess-forward {
    background-position: 0px 0px;
    left: 10px;
    z-index: 500;
}
/*




*/
.ww{
    padding-left: 40px;
    width: 900px;
    overflow: hidden;
    position:relative;	
}

.ww .cc{
	position: relative;
	left:0;
	top:0;
}

.ww .cc li{
    padding: 10px 20px;
    width: 144px;
    text-align: center;	
    float: left;
    height:246px;
}
.cc li .pImg{
	padding: 5px 0;
}
.cc li img{
	width:130px;
	height:130px;
}






















