<!DOCTYPE html>
<html ng-app="ngShowcaseApp">
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
<script src="js/jquery-2.1.0.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/angular.js"></script>
<script src="js/data.js"></script>
</head>
<body ng-controller="ctrl.select.cascade">
	<div class="row">
		<div class="col-md-4">
			<select class="form-control" ng-model="vm.country" ng-options="country.label for country in vm.countries">
			<option value="">-- 请选择国家 --</option>
			</select>
		</div>
		<div class="col-md-4" ng-if="vm.country.provinces">
			<select class="form-control" ng-model="vm.province"
			        ng-options="province.label for province in vm.country.provinces">
			<option value="">-- 请选择省份/州 --</option>
			</select>
		</div>
		<div class="col-md-4" ng-if="vm.province.cities">
			<select class="form-control" ng-model="vm.city" ng-options="city.label for city in vm.province.cities">
			<option value="">-- 请选择城市/县区 --</option>
			</select>
		</div>
	</div>
	<div>您选择的是：{{vm.country.label}} - {{vm.province.label}} - {{vm.city.label}}</div>
	<div class="alert alert-info">
	  这里使用ng-if指令来达到下一级有数据才显示下一级的效果
	</div>
	<script type="text/javascript">
		'use strict';
		
		angular.module('ngShowcaseApp').controller('ctrl.select.cascade', function ($scope, CityData) {
		  var vm = $scope.vm = {};
		  vm.countries = CityData;
		  // 更换国家的时候清空省
		  $scope.$watch('vm.country', function(country) {
		    vm.province = null;
		  });
		  // 更换省的时候清空城市
		  $scope.$watch('vm.province', function(province) {
		    vm.city = null;
		  });
		});
	</script>
</body>
</html>
